* {
  box-sizing: border-box;
}

/*--------------------------------------------------------------
# Color variables
--------------------------------------------------------------*/
:root {
  --color_grey: #969696;
  --color_blue: #005C7A;
}

.blue {
  color: #005C7A;
}

/*--------------------------------------------------------------
# accessibility features
--------------------------------------------------------------*/

.hidden {
  position: relative;
  left: -10000px;
  top: auto;
}

.hidden:focus {
  left: 0;
}

.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/

html {
  font-family: sans-serif;
}

header {
  background-color: var(--color_blue);
  color: white;
  padding: 30px 0 30px;
}

nav{
  background-color: var(--color_grey);
  padding: 1em 0 1em 0;
}

h1, h2, h3, h4 {
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: Black;
  font-weight: bold;
  padding: 0 2em 0 0;
}

blockquote {
  padding: 0px;
  font-size: 22px
}

figure {
  margin: 0;
}

img {
  max-width:100%;
  /* transition: all 1s ease-out; */
}

/*--------------------------------------------------------------
# content
--------------------------------------------------------------*/

.main-container {
  margin: 2em auto 0;
  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
}

.main-content {
  grid-column: 1 / span 2;
  grid-row: 1;
}

/*--------------------------------------------------------------
# side bar
--------------------------------------------------------------*/

.side-bar {
  grid-column: 3;
  grid-row: 1;
}

/*--------------------------------------------------------------
# footer
--------------------------------------------------------------*/

footer {
  background-color: var(--color_blue);
  color: white;
  padding: 20px 0 20px 0;
}

footer nav {
  background-color: var(--color_blue);
}

footer a {
  color: white;
  padding: 0 1em 0 1em;
}

/*--------------------------------------------------------------
# alignments
--------------------------------------------------------------*/

.mainwidth {
  width: 80%;
}

.aligncenter {
  margin: auto;
}

.alignleft {
  margin-right: auto;
}

.alignright {
  margin-left: auto;
}

.centertext {
  text-align: center;
}
